form {
    margin: 2rem 0;
  }
  
  form input[type="text"], 
  form textarea {
    width: 100%;
    padding: 0.5rem;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
  }
  
  form input[type="file"] {
    padding: 0.5rem;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #333333;
  }
  
  header {
    background-color: #333333;
    padding: 1rem 0;
  }
  
  header .logo {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  header nav {
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    display: inline-block;
    padding: 0.5rem;
  }
  
  header nav ul li a {
    color: #ffff
    
  }
